<h4>Новости</h4>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Lorem ipsum dolor sit.</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatem repellendus dolorem.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Lorem ipsum dolor.</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro assumenda, eaque beatae.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Lorem ipsum dolor sit amet.</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, laudantium.</p>
    </a>
</div>