<form class="form-horizontal">
    <fieldset>
        <legend>
            Активация аккаунта
        </legend>
        <p>
            Введите код активации из письма и желаемый пароль.
        </p>
        <div class="form-group" data-bind="validationElement: code">
            <label for="code" class="col-sm-2 col-md-2 col-lg-3 control-label">Код</label>
            <div class="col-sm-7 col-md-6 col-lg-4">
                <input class="form-control" id="code" name="code" type="text" data-bind="textInput: code">
            </div>
            <span class="col-sm-3 col-md-4 col-lg-5 help-block" data-bind="validationMessage: code"></span>
        </div>
        <div class="form-group" data-bind="validationElement: password">
            <label for="password" class="col-sm-2 col-md-2 col-lg-3 control-label">Пароль</label>
            <div class="col-sm-7 col-md-6 col-lg-4">
                <input class="form-control" id="password" name="password" type="password" data-bind="textInput: password">
            </div>
            <span class="col-sm-3 col-md-4 col-lg-5 help-block" data-bind="validationMessage: password"></span>
        </div>
        <div class="form-group" data-bind="validationElement: passwordConfirm">
            <label for="passwordConfirm" class="col-sm-2 col-md-2 col-lg-3 control-label">Пароль ещё раз</label>
            <div class="col-sm-7 col-md-6 col-lg-4">
                <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" data-bind="textInput: passwordConfirm">
            </div>
            <span class="col-sm-3 col-md-4 col-lg-5 help-block" data-bind="validationMessage: passwordConfirm"></span>
        </div>
        <div class="pull-right">      
            <button data-bind="click: activate, enable: isValid" type="button" class="btn btn-primary">Активировать</button>
        </div>
    </fieldset>
</form>

<a class="btn btn-link" href="#login">Вход</a>
<a class="btn btn-link" href="#registration">Регистрация</a>
<a class="btn btn-link" href="#recovery">Восстановление</a>